body {
	height: 100%;
	padding: 0;
	background-color: #FAFAFA;
}

.container {
	padding: 2em 0;
}

header {
	padding: 0 0 2em;
}

.nav {
	min-height: 100%;
}

#toggle {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5em 0.5em 0 0;
	width: 20%;
	z-index: 100;
}

.panel {
	max-width: 94%; 
	margin: 0 3%;
}

.presentation-list {
	margin: 0 0 1em;
	list-style: none;
	list-style-position: outside;
}

p.error-message {
	margin: 0;
	font-size: 0.75rem;
}

.text-centered {
	text-align: center;
}

input.error, textarea.error {
	margin: 0px 0px 1rem;
	background-color: #fff0f0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
}

input.error:focus, textarea.error:focus {
	box-shadow: 0 0 5px #c60f13;
	border-color: #c60f13;
	background-color: #fff0f0;
}