body {
	height: 100%;
	padding: 0 0.5em;;
	background-color: #FAFAFA;
}

.container {
	padding: 2em 0;
}

header {
	padding: 0 0 2em;
}

.nav {
	min-height: 100%;
}

fieldset {
	margin: 0.5em 0;
}

fieldset.radius {
	border-radius: 3px; 
}

textarea {
	margin: 0;
	height: 10em;
}

fieldset legend,
label, 
.ms-selectable label, 
.ms-selection label {
	background-color: #FAFAFA;
}

.editCourseButton {
	margin: 1em 0;
}

#toggle {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5em 0.5em 0 0;
	width: 20%;
	z-index: 100;
}

.presentation-list {
	margin: 0 0 1em;
	list-style: none;
	list-style-position: outside;
}

p.result-summary {
	font-size: 1.225rem;
}

ul.quiz-results li.correct-answer {
	margin-bottom: 0.5em;
	padding: 0.5em;
	background-color: #5da423;
	background-color: #4a831c;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

ul.quiz-results li.wrong-answer {
	margin-bottom: 0.5em;
	padding: 0.5em;
	background-color: #C60F13;
	background-color: #9e0c0f;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

ul.quiz-results li.correct-answer p, ul.quiz-results li.wrong-answer p {
	margin: 0;
	color: #FAFAFA;
	font-size: 0.875rem;
}

p.error-message, p.success-message {
	margin: 0;
	font-size: 0.75rem;
}

.text-centered {
	text-align: center;
}

.quiz-panel {
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: rgba(242, 242, 242, 0.5);
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}

.quiz-question {
	margin: 0;
	font-size: 0.875rem;
	font-style: italic;
	color: #4d4d4d;
	background-color: transparent;
}

li.quiz-option {
	padding-bottom: 0;
	margin: 0;
	background-color: transparent;
}

li.quiz-option label {
	background-color: inherit;
}

li.quiz-option label input {
	margin: 0;
}

input.error, textarea.error {
	margin: 0px 0px 1rem;
	background-color: #fff0f0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
}

input.error:focus, textarea.error:focus {
	box-shadow: 0 0 5px #c60f13;
	border-color: #c60f13;
	background-color: #fff0f0;
}